*{
    margin: 0;
    padding: 0;
}
html, body{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-image: url('../images/game-background.jpeg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#main{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#main canvas{
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
    /*color: #F00;*/
}
#main #board{
    z-index: 1;
}
#main #players{
    z-index: 2;
}

#main .player{
    position: absolute;
    top: 0;
    left: 0;
}